@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deployment CI/CD</h1>
    <h2 class="text-danger">@ViewData["MENSAJE"]</h2>
    <img src="~/images/tiburonmamado.jpg" style="width: 90px; height:90px" />
    <ul class="list-group">
        @foreach(int num in Model)
        {
            <li class="list-group-item">
                @num
            </li>
        }
    </ul>
</div>
